@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    background-image: url(images/code-background.png), linear-gradient(#ffffff30, rgba(0, 0, 0, 0.562));
    background-position: center;
    background-size: contain;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    font-family: 'Montserrat'
}

.masthead {
    margin-bottom: 2rem;
    background-color: #333;
    border-bottom: 4px solid #05A;
}

.masthead-brand {
    margin-bottom: 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

.cover-profile {
    border-radius: 100%;
    border: 4px solid white;
}

.cover-heading {
    font-size: 60px;
    text-align: left;
}

.cover-body {
    font-size: 20px;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .cover-heading {
        font-size: 10vw;
    }

    .cover-body {
        font-size: 14px;
    }
}

a,
a:focus,
a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.cover-links a :hover {
    opacity: 0.5;
}