@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #202124;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #30313475;
  background: url(/images/code-background.png) no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  /* padding: 21rem 0px 21rem 0px; */
}

.content {
  padding-top: 20px;
  background-color: #30313475;
  background: url(/images/code-background.png) no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding-bottom: 20px;
}

.row {
  padding-bottom: 10px;
}

.navbar {
  background-color: #1215188a;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  border-radius: 5px;
}

.cover {
  padding: 0 1.5rem;
  /* height: 90%; */
}

.cover-heading {
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 50px;
}

.cover-body {
  min-width: 100px;
  max-width: 1000px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 100;
}

.cover-links a :hover {
  opacity: 0.5;
}

p {
  font-size: 16px;
}

.panel {
  background-color: #303134;
}

.title {
  background-color: #1d202273;
}

.level-bar {
  padding-bottom: 15px;
}

.level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  /* font-family: arial, sans-serif; */
  position: absolute;
  right: 0;
  top: 0;
}

.level-bar-back {
  height: 15px;
  background: #e8e8e8;
}

.level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

.level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  color: white;
}

body img.img-responsive {
  margin: auto;
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.quarter-width {
    max-width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.half-width {
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.three-quarter-width {
    max-width: 75%;
  }
}


html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}