@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-image: url(images/code-background.png);
  background-position: center;
  background-size: contain;
  justify-content: center;
  color: #fff;
  background-color: #333;
  font-family: 'Montserrat'
}


.masthead {
  margin-bottom: 2rem;
  background-color: #333;
  border-bottom: 4px solid #05A;
}

.masthead-brand {
  margin-bottom: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
      float: left;
  }

  .nav-masthead {
      float: right;
  }
}

.header {
  /* background-color: #30313475; */
  /* background: url(images/code-background.png) no-repeat center center fixed; */
  /* background-size: cover; */
  color: white;
  text-align: center;
  /* height: 100vh; */
  /* padding: 21rem 0px 21rem 0px; */
}

.content {
  padding-top: 20px;
  /* background-color: #30313475; */
  /* background: url(images/code-background.png) no-repeat center center fixed; */
  /* background-size: cover; */
  color: white;
  /* padding-bottom: 20px; */
}

.row {
  padding-bottom: 10px;
}

.cover-heading {
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 50px;
}

.cover-body {
  min-width: 100px;
  max-width: 1000px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 100;
}

.cover-links a :hover {
  opacity: 0.5;
}

p {
  font-size: 16px;
}

.panel {
  background-color: #303134;
}

.title {
  background-color: #1d202273;
}

.level-bar {
  padding-bottom: 15px;
}

.level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  /* font-family: arial, sans-serif; */
  position: absolute;
  right: 0;
  top: 0;
}

.level-bar-back {
  height: 15px;
  background: #e8e8e8;
}

.level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

.level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

a {
  text-decoration: none;
}

p {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.quarter-width {
    max-width: 25%;
  }
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.half-width {
    max-width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  body figure img.img-responsive.three-quarter-width {
    max-width: 75%;
  }
}